body {
  background-image: linear-gradient(#fff5db,#ffeb85, #f2dc11, #b2db0b);
}
.jumbotron {
  background: #94fffa;
}
 #puppy-showing {
   display: none;
 }
 .clickable {
   cursor: pointer;
   color: #0088cc;
 }
 .clickable:hover {
    text-decoration: underline;
 }
.ready-trailer {
  display: none;
 }
 .cureTrailer {
  display: none;
 } 